.form-container {
    margin: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.dashboard-header {
    text-align: center;
}

.dashboard-header h2 {
     font-weight: bold; 
}

.quiz-table {
    width: 100%;
    border-collapse: collapse;
}

    .quiz-table th, .quiz-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        font-size: 1rem;
    }

    .quiz-table th {
        background-color: #fde047;
        color: black;
        text-align: center;
    }

.button-container {
    text-align: right;
}

.btn {
    background-color: #fde047;
    color: black;
    padding: 0.5rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 20px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #FFEF64;
        color: black;
        transition: background-color 0.3s, color 0.3s;
    }

/*Deskstop Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
    flex: 1;
}

    .topnav a {
        text-decoration: none;
        color: black;
    }

        .topnav a:hover {
            color: #E8D10D;
            transition: background-color 0.3s, color 0.3s;
        }



.logo a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
