* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #FDE047;
    padding-top: 20px;
    color: black;
    z-index: 1;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

#sidebar .sidebar-header {
    padding: 10px 15px;
    background-color: #FDE047;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

#sidebar ul.components li {
    margin-bottom: 10px;
}

#sidebar ul.components a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: black;
}

#sidebar ul.components a:hover {
    background-color: #FFEF64;
    color:white;
}

#sidebar ul.components ul {
    list-style-type: none;
    padding-left: 20px;
}

#sidebar ul.components ul li {
    margin-bottom: 5px;
}

/* Added style for label */
.label {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}


/* Page Content */
#content {
    margin-left: 250px; /* Adjust according to sidebar width */
    padding: 20px;
}

.profile {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.profile .username {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    
}

.profile-picture {
    border-radius: 50%;
}

/* Info Boxes */
.info-boxes {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap;
    gap: 20px;
    max-width:20px; /* Adjust max width as needed */
    padding-top:50px;
    margin-left: 110px;
}

.info-box {
    flex: 1;
    min-width: 200px;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.info-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info-box .info-number {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.main-content {
    
    text-align: center; /* Center the text elements */
}

.main-content h2,
.main-content p {
    margin: auto;
}