@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
/* Button */
.button {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: #fde047;
    border-radius: 20px;
    cursor: pointer;
}

    .button:hover {
        background-color: #FFEF64;
        color: black;
        transition: background-color 0.3s, color 0.3s;
    }

/*Deskstop Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
    flex: 1;
}

    .topnav a {
        text-decoration: none;
        color: black;
    }

        .topnav a:hover {
            color: #E8D10D;
            transition: background-color 0.3s, color 0.3s;
        }



.logo a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.register-button a {
    margin-right: 2rem;
    text-decoration: none;
    color: black;
}

    .register-button a:hover {
        color: #E8D10D;
        transition: background-color 0.3s, color 0.3s;
    }

/* Home */
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    font-size: 2rem;
}

.home-title h1 {
    color: #fde047;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
}



/* Description */
#description {
    background-color: #fefce8;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin: 8rem;
}

.details-course img {
    width: 6rem;
    padding-bottom: 1rem;
}

.explain-course h1 {
    padding-bottom: 0.5rem;
}


/* Audience Section */
#audience {
    display: block;
    align-items: center;
    width: auto;
    margin: auto;
    padding: 100px;
}

.audience-title {
    text-align: center;
    margin-bottom: 20px;
}

.button-group {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.audience-button {
    background-color: #fde047;
    color: black;
    border: none;
    padding: 10px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

    .audience-button:hover {
        background-color: #FFEF64;
    }

.audience-content {
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 100%;
    margin: auto;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    line-height: 1.5rem;
}



.content-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    max-width: 300px;
}


.content-text {
    text-align: center;
    max-width: 450px;
}

    .content-text h1 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .content-text p {
        color: #6b7280;
        font-size: 1em;
        margin-top: 10px;
    }


/* Footer */
footer {
    background-color: #fde047;
    color: black;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.footer-section {
    flex: 1;
    margin: 1rem;
}

.footer-section-contact-info {
    line-height: 1.5rem;
}

.footer-bottom {
    margin-top: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid #444;
    line-height: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    position: relative; /* Ensure relative positioning for absolute dropdown */
}


.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.username {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    

}

#profile-dropdown {
    display: none;
    position: absolute;
    top: 60px; /* Adjust this value as needed */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.profile:hover #profile-dropdown {
    display: block;
}

#profile-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    #profile-dropdown a:hover {
        background-color: #FFEF64;
    }

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

    .profile-picture:hover {
        transform: scale(1.1);
    }