

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #F9F9F9;
}
    /* Dashboard Styles */
    .dashboard {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

    .dashboard h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

/* Centering the recipe-list */
.recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* Style for each recipe item */
.recipe-item {
    text-align: center;
    margin-bottom: 20px;
}

    /* Ensure the image fits within the container */
    .recipe-item img {
        max-width: 100%;
        height: auto;
    }
