body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.grid-view {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .grid-view th, .grid-view td {
        text-align: center;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .grid-view th {
        background-color: #FFD700; /* Yellow background for headers */
        color: white;
    }

    .grid-view tr:nth-child(even) {
        background-color: #f2f2f2; /* Light gray background for even rows */
    }

    .grid-view tr:hover {
        background-color: #ddd; /* Darker background on hover */
    }

    .grid-view .description-column {
        text-align: left; /* Align description column text to the left */
    }

    /* Styling for images in the GridView */
    .grid-view img {
        max-width: 100px;
        max-height: 100px;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
