@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.form-container {
    margin: 20px;
    margin-bottom: 150px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.page-title {
    text-align: center;
}

    .page-title h2 {
        font-weight: bold;
    }

.auto-style1 {
    width: 100%;
    table-layout: fixed; /* Ensures equal width columns */
}

    .auto-style1 td {
        width: 50%; /* Each column takes up an equal portion of the total width */
        text-align: center; /* Center-aligns the content in each cell */
    }

.auto-style2 {
    width: 100%;
}

.button-container {
    text-align: right;
}

.btn {
    background-color: #fde047;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #FFEF64;
    }

/*Deskstop Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
    flex: 1;
}

    .topnav a {
        text-decoration: none;
        color: black;
    }

        .topnav a:hover {
            color: #E8D10D;
            transition: background-color 0.3s, color 0.3s;
        }

.logo a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    position: relative; /* Ensure relative positioning for absolute dropdown */
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.username {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px; /* Adjust this value as needed */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.profile:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #FFEF64;
    }

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

    .profile-picture:hover {
        transform: scale(1.1);
    }

/* Footer */
footer {
    background-color: #fde047;
    color: black;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.footer-section {
    flex: 1;
    margin: 1rem;
}

.footer-section {
    line-height: 1.5rem;
}

.footer-bottom {
    margin-top: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid #444;
    line-height: 1.5rem;
}

/* Questions and Choices */
.question {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .question:hover {
        border-color: #fde047;
    }

    .question .aspLabel {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .question .aspRadioButtonList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        .question .aspRadioButtonList .aspListItem {
            padding: 10px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            transition: background-color 0.3s, border-color 0.3s;
            cursor: pointer;
        }

            .question .aspRadioButtonList .aspListItem:hover {
                background-color: #fdf4ab;
                border-color: #fde047;
            }

            .question .aspRadioButtonList .aspListItem input[type="radio"] {
                display: none;
            }

                .question .aspRadioButtonList .aspListItem input[type="radio"]:checked + label {
                    background-color: #fde047;
                    border-color: #ffd700;
                }
